@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gujarati:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, 
body {
	height: 100%;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.guj-font {
	font-family: 'Noto Sans Gujarati', sans-serif;
}

.bg-gold {
	background-color: #ffd700;
}

.bg-custom-gray {
	background-color: #f3eee9;

}

.h100p {
	height: 100%;
}

.card {
	/*border: none;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;*/
}

.bs1 {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.br-0_25rem {
	border-radius: 0.25rem;
}

.bg-flag {
  height: 50px;
  background: linear-gradient(180deg, rgba(255,153,51,1) 33%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 66%, rgba(19,136,8,1) 67%, rgba(19,136,8,1) 99%);
  flex-grow: 1;
}

.p-r-z-1 {
  z-index: 1;
  position: relative;
  border-radius: 80px;
  border: 5px solid white;
}

.bg-ls {
  margin-right: -20px;
}

.bg-rs {
  margin-left: -20px;
}

.title-style {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(90deg, rgba(255,153,51,0.5) 0%, rgba(255,153,51,1) 0%, rgba(255,153,51,1) 100%, rgba(255,153,51,0.5) 100%);
}

.navbar-light .navbar-nav .nav-link.text-brand {
  color: #FF9833;
  font-weight: bold;
}

@media only screen and (min-width: 320px) {
  .title-style h1 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .title-style h1 {
    font-size: 28px;
  }
}
