{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "description" }}{{ .Site.Params.description }}{{ end }}

{{ define "main" }}
  <div class="container">
    <div class="row py-3">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <h3>{{ .Title }}</h3>
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="col-lg-4" style="position: sticky; top: 0;">
        <!-- <h3>Activities</h3> -->
        {{ partial "activities/menu.html" . }}
      </div>
    </div>
  </div>
  <!-- <div class="bg-light">
  </div> -->
{{ end }}

