<div class="d-flex align-items-center justify-content-center">
	<div class="guj-font mt-1 trust-address">
	  <span class="guj-font">ઘી મીલેનીયમ, ઓફિસ નં.૩૧ર એ, ત્રીજો માળ, સિલ્વર હાઇટસની સામે, નાના મવા સર્કલ, ૧૫૦ કુટ રીંગ રોડ,</span> <br/>
	  <span class="guj-font">રાજકોટ, ફોન નં. <a href="tel:02812467070" class="text-info">02812467070</a>, મો;</span> <a href="tel:9409003700" class="text-info">9409003700</a>, E-mail: <a href="mailto:sspkmandal@gmail.com" class="text-info">sspkmandal@gmail.com</a> <br/>
	  <hr class="m-1" />
	  <i><strong class="guj-font">*કર રાહત ૮૦-G માન્ય*</strong> Income Tax Exemption U/S 80-G, CSR(corporate social responsibility), PAN No: AABTSO216P</i>
	</div>
</div>
