<div class="d-flex align-items-center justify-content-center">
	<div class="guj-font text-center mt-1 trust-address ">
	  <span class="guj-font">ઘી મીલેનીયમ, ઓફિસ નં.૩૧ર એ, ત્રીજો માળ, સિલ્વર હાઇટસની સામે, નાના મવા સર્કલ, ૧૫૦ કુટ રીંગ રોડ,</span> <br/>
	  <span class="guj-font">રાજકોટ, ફોન નં. ૦ર૮૧-૨૪૬૪૦૦, મો;</span> ૯૪૦૯૦ ૦૩૯૦૦, E-mail: <a href="mailto:sspkmandal@gmail.com">sspkmandal@gmail.com</a> <br/>
	  <hr class="m-1" />
	  <span class="text-info"><b class="guj-font">*કર રાહત ૮૦-6 માન્ય*</b> Income Tax Exemption U/S 80g(5), PAN No: AABTSO216P</span>
	</div>
</div>
