<div class="d-flex align-items-center justify-content-center">
  <div class="bg-flag bg-ls"></div>
  <a href="/" class="p-r-z-1"><img src="/images/logo.png" alt="Shree Sardar Patel Employees Group, Rajkot | શ્રી સરદાર પટેલ કર્મચારી મંડળ, રાજકોટ" height="80"></a>
  <div class="title-style">
    <div class="mt-1">
      <h1 class="guj-font m-0 text-white">શ્રી સરદાર પટેલ કર્મચારી મંડળ-રાજકોટ</h1>
    </div>
  </div>
  <img src="/images/sardar-patel.png" alt="Shree Sardar Patel Employees Group, Rajkot | શ્રી સરદાર પટેલ કર્મચારી મંડળ, રાજકોટ" height="80" class="p-r-z-1">
  <div class="bg-flag bg-rs"></div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-custom-gray">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/activities/">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members/">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery/">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us/">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
