<div class="d-flex align-items-center justify-content-center">
  <div class="bg-flag bg-ls"></div>
  <a href="/" class="p-r-z-1"><img src="/images/logo.png" alt="Shree Sardar Patel Employees Group, Rajkot | શ્રી સરદાર પટેલ કર્મચારી મંડળ, રાજકોટ" height="80"></a>
  <div class="title-style">
    <div class="mt-1">
      <h1 class="guj-font m-0 text-white">શ્રી સરદાર પટેલ કર્મચારી મંડળ-રાજકોટ</h1>
    </div>
  </div>
  <img src="/images/sardar-patel.png" alt="Shree Sardar Patel Employees Group, Rajkot | શ્રી સરદાર પટેલ કર્મચારી મંડળ, રાજકોટ" height="80" class="p-r-z-1">
  <div class="bg-flag bg-rs"></div>
</div>

<nav class="navbar navbar-light bg-custom-gray">
  <div class="container">
    <ul class="navbar-nav m-0 flex-row flex-wrap">
      <li class="nav-item px-2">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/about-us/">About Us</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/activities/">Activities</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/members/">Members</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/events/">Events</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/gallery/">Gallery</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/contact-us/">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
