<ul class="list-group">
  <a href="/members/2022-2023/" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">વ્યવસ્થાપક સમિતિ અને કારોબારી સભ્યો - 2022-23</span>
  </a>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="guj-font">મંડળ ની કુલ આજીવન સભ્ય સંખ્યા</span>
    <span class="badge bg-primary rounded-pill">1920</span>
  </li>
  <a href="/new-member-form.pdf" target="_blank" title="મંડળ ના સભ્ય થવા માટે નું ફોર્મ" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">મંડળ ના સભ્ય થવા માટે નું ફોર્મ</span>
  </a>
  <a href="/" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">વેવિશાળ માહિતી માટેનું ફોર્મ</span>
  </a>
  <a href="/members" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">પૂર્વ વ્યવસ્થાપક સમિતિ અને કારોબારી સભ્યો</span>
  </a>
  <a href="/" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">જ્ઞાાતિની રાજકોટ ની વિવિધ  સહયોગી સંસ્થાઓ</span>
  </a>
  <a href="/gujarati-samaj.pdf" target="_blank" title="દેશભરમાં આવેલ જ્ઞાાતિ અને ગુજરાતી સમાજ નું લિસ્ટ" class="list-group-item list-group-item-action" aria-current="true">
    <span class="guj-font">દેશભરમાં આવેલ જ્ઞાાતિ અને ગુજરાતી સમાજ નું લિસ્ટ</span>
  </a>  
</ul>
<br>
<label><strong class="guj-font">મંડળ ની યાદગાર ક્ષણો..</strong></label>
<ul class="list-group guj-font">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="guj-font">મંડળ ના ટ્રસ્ટ ની નોંધણી</span>
    <span class="badge bg-primary rounded-pill">૧૬/૦૨/૧૯૯૪</span>
  </li>
  <li class="list-group-item">
    મંડળ ના સભ્ય પરિવાર ની ડિરેક્ટરી
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
        <span class="guj-font">પ્રથમ આવૃત્તિ વિમોચન</span>
        <span class="badge bg-primary rounded-pill">૨૦/૦૬/૧૯૯૬</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center px-0">
        <span class="guj-font">દ્વિતીય આવૃત્તિ વિમોચન</span>
        <span class="badge bg-primary rounded-pill">૦૪/૦૫/૨૦૦૬</span>
      </li>
    </ul>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="guj-font">મંડળ ની website નું લોંચીંગ</span>
    <span class="badge bg-primary rounded-pill">૦૫/૧૦/૨૦૧૪</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="guj-font">મંડળ ની નવી ઓફિસ નું ઉદ્દઘાટન</span>
    <span class="badge bg-primary rounded-pill">૨૪/૦૨/૨૦૨૧</span>
  </li>
</ul>
