<div>
  <style>
    #galary .modal-dialog {
	    max-width: 1120px;
	    margin: 0.5rem auto;
    }
    @media (min-width: 576px) {
	    #galary .modal-dialog {
	    }			
    }
  </style>
  <div class="d-flex align-items-center flex-wrap justify-content-center">
    {{ range $index, $image := .Page.Resources.ByType "image" }}
    {{ $url := $.Page.Resources.GetMatch $image }}
    {{ $url := $url.Fit "320x180" }}
    <div class="p-1" data-bs-toggle="modal" data-bs-target="#galary" >
      <img src="{{ $url.RelPermalink }}" data-bs-target="#carouselExample" data-bs-slide-to="{{$index}}"/>
    </div>
    {{ end }}
  </div>
  <div class="modal fade" id="galary" tabindex="-1" aria-labelledby="galaryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered model-lg">
      <div class="modal-content bg-dark">
        <div class="modal-body">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              {{ range $index, $image := .Page.Resources.ByType "image" }}
              {{ $url := $.Page.Resources.GetMatch $image }}
              {{ $url := $url.Resize "1086x" }}
              <div class='carousel-item{{ if eq $index 0 }} active{{ end }}'>
                <div class="d-flex align-items-center justify-content-center">
                  <img src="{{ $url.RelPermalink }}" class="w-100" />
                </div>
              </div>
              {{ end }}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
	            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
	            <span class="carousel-control-next-icon" aria-hidden="true"></span>
	            <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
